.testimony {
    background-color: var(--first-color);
    position: relative;

}

.testimony-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.testimony-img img {
    border-radius: 0;
    max-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimony-info {
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.testimony-sentence {
    position: relative;
    font-family: serif;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.25;
    max-width: 36ch;
}

.testimony-sentence::before {
    content: "“";
    position: absolute;
    font-size: 5rem;
    left: -10px;
    top: -20px;
    color: var(--first-color-d);
}

.testimony-sentence::after {
    content: "”";
    position: absolute;
    font-size: 5rem;
    color: var(--first-color-d);
}



.testimony-writter {
    font-size: 1.125rem;
}

@media (max-width: 1000px) {
    .testimony-grid {
        grid-template-columns: 1fr;
    }

    .testimony-info {
        margin-left: auto;
        margin-right: auto;

    }

    .testimony-img img {
        max-height: 200px;
    }

    .testimony-sentence {
        text-align: center;
        font-size: 1.5rem;
    }

    .testimony-writter {
        text-align: center;
        font-size: 1rem;
    }

    .testimony-sentence::after,
    .testimony-sentence::before {
        font-size: 4rem;
    }

    .testimony-sentence::before {
        left: 0;
    }

}